input
  // Android 4.0: fix android will overlay any of input (including text) on browser
  // -webkit-user-modify: read-write-plaintext-only

body
  // Android 233: removing wild keyboard scrolling during typing input
  overflow-y: hidden