input
  // iOS : disable ios default input themes and drop shadow
  -webkit-appearance: none

body
  // iOS : prevent default behavier that will enlarge the page if user double tap on it
  -webkit-text-size-adjust: none